<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button slot="start"></ion-menu-button>
    </ion-buttons>
    <ion-title>meteo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label>Ville</ion-label>
        <ion-input type="=text" [(ngModel)]="city" ></ion-input>
        <ion-button (click)="onLoadMeteo()">Ok</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content  *ngIf="dataMeteo">
      <ion-item>
        <ion-label>City:<ion-badge color="dark">{{dataMeteo.city.name}}</ion-badge></ion-label>
        <ion-label>Country:<ion-badge color="dark">{{dataMeteo.city.country}}</ion-badge></ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Long:<ion-text color="danger">{{dataMeteo.city.coord.lon}}</ion-text></ion-label>
        <ion-label>Lat:<ion-text color="danger">{{dataMeteo.city.coord.lat}}</ion-text></ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Population:{{dataMeteo.city.coord.population|number:"0.0"}}</ion-label>

      </ion-item>
    </ion-card-content>
    <ion-card  *ngIf="dataMeteo">
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let m of dataMeteo.list">
            <ion-avatar >
              <ion-img src="assets/images/{{m.weather[0].main}}.png"></ion-img>
            </ion-avatar>
           <ion-list>
             <ion-item><ion-label color="primary">{{m.dt*1000| date:'dd/MM/yyyy-HH-mm'}}</ion-label></ion-item>
             <ion-item> Min:{{m.main.temp_min-273.15|number:"0.0"}},Max:{{m.main.temp_max -273.15|number:"0.0"}}</ion-item>
             <ion-item> Pression:{{m.main.pressure|number:"0.0"}},Humidité:{{m.main.humidity|number:"0.0"}}</ion-item>
           </ion-list>

          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-card>

</ion-content>
